{% load static %}

<!doctype html>
<html lang="en">
<head>
	{% include "dashboard/head-files.html" %}
</head>

<body>

	<div class="wrapper">

		{% include "dashboard/sidebar.html" %}

	    <div class="main-panel">
			{% include "dashboard/navbar.html" %}

			<div class="content">
				<div class="container-fluid">
				{% block content %}
					<div class="row">
						<h6>Dashboard yo</h6>
					</div>
				{% endblock content %}
				</div>
			</div>

			{% include "dashboard/footer.html" %}
		</div>
	</div>

</body>
{% include "dashboard/script-files.html" %}
</html>
