{% extends "dashboard/index.html" %}
{% load static %}
{% block content %}
    <form class="form" action="{% url 'mapform' %}" method="POST">
        {% csrf_token %}
        <div class="content row">

            <div class="input-group col-md-4 col-md-offset-4">
                <span class="input-group-addon">
                 <i class="material-icons">face</i>
                </span>
                <input type="text" class="form-control" name="MapName" placeholder="Map Name">

            </div>

            <div class="input-group col-md-4 col-md-offset-4">
                <span class="input-group-addon">
                 <i class="material-icons">face</i>
                </span>
                <input type="number" class="form-control" name="ques" placeholder="Number of Question">

            </div>
            <div class="footer text-center">
                <button class="btn btn-primary" data-toggle="modal" action="submit">Login</button>
            </div>
        </div>
    </form>
{% endblock content %}