{% extends "dashboard/index.html" %}
{% load static %}
{% block content %}
    <form class="form" action="{% url 'qform' %}" method="POST">
        {% csrf_token %}
        <div class="content row">

            <div class="input-group col-md-4 col-md-offset-4">
                <span class="input-group-addon">
                     <i class="material-icons">face</i>
                 </span>
                    <select name="mapname" class="form-control">
                      <option value="" disabled selected>Choose Map</option>
                      {% for map in map_names %}
                      <option value="{{ map.mapName }}">{{ map.mapName }}</option>
                      {% endfor %}
                    </select>
                 <!-- <input type="text" class="form-control" name="mapname" placeholder="Map Name"> -->
             </div>

            <div class="input-group col-md-4 col-md-offset-4">
                    <span class="input-group-addon">
                     <i class="material-icons">face</i>
                 </span>
                 <input type="text" class="form-control" name="question" placeholder="Question">
            </div>

            <div class="input-group col-md-4 col-md-offset-4">
                    <span class="input-group-addon">
                     <i class="material-icons">face</i>
                 </span>
                 <input type="text" class="form-control" name="hint" placeholder="Hint">

            </div>
            <div class="input-group col-md-4 col-md-offset-4">
                    <span class="input-group-addon">
                     <i class="material-icons">face</i>
                 </span>
                 <input type="number" class="form-control" name="qno" placeholder="Question Number">

             </div>
            <div class="input-group col-md-4 col-md-offset-4">
                    <span class="input-group-addon">
                     <i class="material-icons">face</i>
                 </span>
                 <input type="text" class="form-control" name="tags" placeholder="Tags">

            </div>
         </div>
         <div class="footer text-center">
             <button class="btn btn-primary" data-toggle="modal" action="submit">Login</button>
         </div>
     </form>
{% endblock content %}