	    <div class="sidebar" data-color="green" data-image="../assets/img/sidebar-1.jpg">
			<!--
		        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

		        Tip 2: you can also add an image using data-image tag
		    -->

			<div class="logo">
				<a href="#" class="simple-text">
					<i class="material-icons">home</i>{{ name }}
				</a>
			</div>
			{% url 'home' as home_url %}
	    	<div class="sidebar-wrapper">
	            <ul class="nav">
	                <li{% if request.get_full_path == home_url %} class="active"{% endif %}>
	                    <a href="{% url 'userdashboard' %}">
	                        <i class="material-icons">dashboard</i>
	                        <p>Dashboard</p>
	                    </a>
	                </li>
	                <li{% if request.get_full_path == home_url %} class="active"{% endif %}>
	                    <a href="{% url 'qform' %}">
	                        <i class="material-icons">person</i>
	                        <p>Questions</p>
	                    </a>
	                </li>
	                <li{% if request.get_full_path == home_url %} class="active"{% endif %}>
	                    <a href="{% url 'mapform' %}">
	                        <i class="material-icons text-gray">notifications</i>
	                        <p>Map Form</p>
	                    </a>
	                </li>
	            </ul>
	    	</div>
	    </div>